<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>抽屉效果-Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0208CDF01EAEF2AF002DEF5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0208CE091EAEF2AF002DEF5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0208CE141EAEF2AF002DEF5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
